body {
    font-family: Arial, sans-serif;
    
  }
  /* ... Previous CSS code ... */
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
      margin-top: 200px;
      margin-bottom: 200px;
      margin-left: 200px;
      margin-right: 200px;
  }
  
  .image {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
  }
  
    
    .image img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
      border-radius: 8px;
    }
    
    .image:hover img {
      transform: scale(1.1);
    }
    
    
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    padding-top: 60px;
  }
  
  .modal-content {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    margin: auto;
  }
  
  .mySlides img {
    width: 100%;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    padding: 0; /* Remove previous padding */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: white;
  }
  
  .close:hover,
  .close:focus {
    color: #ed0d0d;
    text-decoration: none;
    cursor: pointer;
    border-color: #ed0d0d;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .text {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .mySlides:hover .text {
    opacity: 1;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .text-animation {
    animation: fadeIn 0.5s forwards;
  }
  
  /* ... Rest of the CSS code ... */
  /* ... Previous CSS code ... */
.description {
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .mySlides:hover .description {
    opacity: 1;
  }
  